[submodule "vendor/bundles/FOS/TwitterBundle"]
	path = vendor/bundles/FOS/TwitterBundle
	url = git://github.com/FriendsOfSymfony/FOSTwitterBundle.git
[submodule "vendor/twitteroauth"]
	path = vendor/twitteroauth
	url = git://github.com/kertz/twitteroauth.git
