app/config/parameters.ini
app/config/deployment.yml
app/cache/*
app/logs/*
beta/config/parameters.ini
beta/config/deployment.yml
beta/cache/*
beta/logs/*
vendor/*
web/bundles/*
web/uploads/*
.DS_Store

netagora.esproj/Project.espressostorage
netagora.esproj/user.Dorine.espressostorage
