<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.w3.=org/1999/xhtml" xml:lang=3D"fr-CA" lang=3D"fr-CA">
  <head>
    <meta http-equiv=3D="Content-Type" content=3D"text/html; charset=3Dutf-8" />
    <title> Stay tuned on Netagora </tilte>
  </head>
  <body style="width:70%;margin: 10px auto;font-family: Helvetica;color: #b7b2b1;font-size: 12px;">
    
        <table cellspacing="0" cellpadding="10" border="0" style="border-top:10px solid #7F1732; border-bottom: 10px solid #7F1732;width: 100%; min-width: 500px;background: #ffffff; background-color: #ffffff; background-repeat: repeat-x;background-image: -khtml-gradient(linear, left top, left bottom, from(#eae5df), to(#ffffff));background-image: -moz-linear-gradient(top, #eae5df, #ffffff);background-image: -ms-linear-gradient(top, #eae5df, #ffffff);    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae5df), color-stop(100%, #ffffff));    background-image: -webkit-linear-gradient(top, #eae5df, #ffffff);background-image: -o-linear-gradient(top, #eae5df, #ffffff);        background-image: linear-gradient(top, #eae5df, #ffffff);">
        
            <tr>
            
                <td style="color: #7F1732;margin: auto;text-align: right;padding-right: 50px;line-height: 5px;font-size: 12px;"><a style="text-decoration: none;color: #7F1732;" href="http://netagora.net">NetAgora.net</a></td>
            
            </tr>
            
            <tr>
            
                <td style="border-bottom: 1px solid #7F1732;">
                </td>
            
            </tr>
            
            <tr>
                
                <td style="font-size:18px;">Thank you for subscribing to the pre-launching mailing list!</td>
            
            </tr>
        
            <tr>
            
                <td style="font-size:13px;">You have won the <b>Pioneer badge</b>! You will be able to see it on your profile when you will register to the website.<br />
                
                We will send you an e-mail as soon as the website will be up.<br /><br />
                
                Stay tunned!<br /><br /><br />
                
                NetAgora's team.
                </td>
            
            </tr>
            
        </table>
        
    </body>
</html>