{% extends "ECENetagoraBundle::menu_notlogged.html.twig" %}
{% block content %}

	<div id="website_title">About the project</div>
				<div id="block_container" class="about">
					<div class="subtitle">What is NetAgora?</div>
					
					<p class="text">NetAgora is an aggregator for social networks. NetAgora is an aggregator for social networks. Once registered, you can connect your Twitter and Facebook accounts and see the feeds of both on the home page of NetAgora website.</p>
					<p class="text">Moreover, not only you can see you two timelines, NA sorts the feeds for you in categories: Video, Music, Pictures, Locations and Other links. </p>
					
					<div class="subtitle">Who can use it?</div>
					
					<p class="text">NetAgora is designed for every Twitter and Facebook users. Each account can be added separately, so no need to have both accounts to start using NetAgora.</p>
									
					<div class="subtitle">Original team</div>
					<p class="text">NetAgora is born of a school project. We are a team of six final year engineers students (<a href="http://www.ece.fr/" target="_blank">ECE Paris</a>): Dorine ALLALI, Johan FIRMIN, Sarah MAHMOUD-KHALIL, Cynthie ROQUELAURE, Enora SIMEON, Myriam MACHIA. We wanted to get involved with social networks<p>
					
					<div class="subtitle">NetAgora Community</div>
					<p class="text">NetAgora is an Open source project. You can join the community to help us develop new features or increase the existing one.</p>
					
					<div class="subtitle">Contact</div>
					<p class="text">netagora2012@gmail.com</p>
					
					
				</div>
	
			
			</div>
	

{% endblock %}