{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

   <div class="grey_bg">
   
   		<span class="subtitle">Your badges</span>
   
   		<div id="badges">
   			{% for badges, badge in badges %}
				<img src="{{badge|raw}}" />
			{% endfor %}
   		</div>
   
   </div>
           
{% endblock %}