{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

   <div class="grey_bg">
       <span class="subtitle">Your badges</span>
       <div id="badges">None at the moment</div>
   </div>
           
{% endblock %}