{% extends "ECENetagoraBundle::layout.html.twig" %}

{% block content %}
   <div class="grey_bg">
       <span class="subtitle"><center>Your badges!</center></span>
       <br /><br />
       <div id="badges">
           {% for badges, badge in badges %}
               <img src="{{badge|raw}}" />
           {% endfor %}
       </div>
   </div>
{% endblock %}