{% extends "ECENetagoraBundle::layout.html.twig" %}
{% block content %}

     <div id="website_title">Credits and resources</div>
                    <div id="block_container" class="about">
                         <div class="subtitle">Images</div>
                         <p class="text"><a href="http://icondock.com/free/vector-social-media-icons" target="_blank">icondock</a><br />
                         <a href="http://www.vecteezy.com/People/16910-Digging-Silhouette" target="_blank">Vecteezy</a><br />
                         <a href="http://www.vecteezy.com/Vector-Icons/31677-FilmStrip" target="_blank">Vecteezy</a><br />
                         <a href="http://free4illustrator.com/2011/03/dslr-camera-vector/" target="_blank">free4illustrator</a><br />
                         <a href="http://www.hdicon.com/vector-files/glossy-icon-style-vector-graphics/" target="_blank">hdicon</a><br />
                         <a href="http://www.iconspedia.com/" target="_blank">iconspedia</a><br />
                         <a href="http://www.iconfinder.com/search/?q=iconset%3Aicojoy" target="_blank">iconfinder</a><br />
                         <a href="http://www.iconfinder.com/icondetails/9661/24/bookmark_heart_love_icon" target="_blank">iconfinder</a><br />                         
                         </p>
                                                  
                    </div>
     
               
               </div>


{% endblock %}