{% extends "ECENetagoraBundle::menu_notlogged.html.twig" %}
{% block content %}

	<div id="website_title">Documentation</div>
				<div id="block_container" class="about">
					<div class="subtitle">Not available</div>
					<p class="text">The documentation will be available after January 27th</p>
										
				</div>
	
			
			</div>
	

{% endblock %}