{% extends "ECENetagoraBundle::layout.html.twig" %}
    {% block content %}

    <div id="website_title">Documentation</div>
    <div id="block_container" class="about">
        <div class="subtitle">Who are we?</div>
        <p class="text">
            NetAgora is part of a final student project we realized at ECE Paris, an engineering school. NetAgora is an open source social networks aggregator. It enables the user to gather his/her Twitter publications. 
        </p>
        <p class="text">
            The main feature of our aggregator is its ability to optimize the display of feeds (posts). Indeed, NetAgora sorts publications into categories: Video, Music, Pictures, Locations and Other links. Users can also mark a publication as favorite.
        </p>

        <p class="text">
            In the future, we would like to integrate other social networks, especially Facebook.
        </p>

        <div class="subtitle">Why should you contribute?</div>

        <p class="text">
            NetAgora project gives you the opportunity to take part in a great challenge. The goal is to turn this aggregator into a significant project.
        </p>

        <p class="text">
            Users and developers can share their different ideas concerning new (or improved) functionalities. In fact, NetAgora makes a suggestion box (Aggbox) available for inspired people.
        </p>

        <p class="text">
            We are inviting any developer to bring any change they want. Contribution and efforts will be recognized and rewarded in a symbolic way.
        </p>

        <div class="subtitle">Who can contribute?</div>
        <p class="text">Everyone can potentially contribute to the project.</p>
        <p class="text">For your information, please notice that we use the following technologies:
            <ul>
                <li class="list">Symfony 2</li>
                <li class="list">Doctrine 2</li>
            </ul>
        </p>

        <p class="text">
            All the source code is shared on <a href="https://github.com/netagora/netagora"> https://github.com/netagora/netagora</a>. To contribute, you can find directives on how to install the project (complete source code) on your local host on <a href="http://knpbundles.com/netagora/netagora">http://knpbundles.com/netagora/netagora</a>.
        </p>

        <div class="subtitle">How to contact us?</div>
        <p class="text">We are available for any question. You can contact us via:
            <ul>
                <li class="list"><a href="http://www.facebook.com/netagora">Facebook</a></li>
                <li class="list"><a href="https://twitter.com/#!/NetAgora">Twitter</a></li>
                <li class="list">Gmail: <a href="mailto:netagora2012@gmail.com">netagora2012@gmail.com</a></li>
            </ul>
        </p>

        <div class="subtitle">Where to meet us?</div>
        <p class="text">We will organize an termly event: some sort a cocktail party that we called NAPs.</p>
        <p class="text">We will take care of the food and drinks, just bring your innovative ideas!!!</p>
        <p class="text">Visit the website to stay tuned and get the latest news on NAPs.</p>
    </div>
    {% endblock %}