security:
    factories:
        - "%kernel.root_dir%/../vendor/bundles/FOS/TwitterBundle/Resources/config/security_factories.xml"
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        netagora_twitter_provider:
            id: ece_netagora.twitter_provider

        fos_user:
            id: fos_user.user_manager

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        public:
            pattern:   /.*
            anonymous: true
            fos_twitter:
                login_path: /twitter/login
                check_path: /twitter/login_check
                default_target_path: /Home/test
                provider: netagora_twitter_provider
            logout: true

#        public:
#            pattern:  /
#            fos_twitter:
#                provider: fos_twitter
#                login_path: /twitter/login
#                check_path: /twitter/login_check
#                default_target_path: /
#            form_login:
#                provider: fos_user
#                csrf_provider: form.csrf_provider
#            logout:       true
#            anonymous:    true

    access_control:
        - { path: /.*, role: [IS_AUTHENTICATED_ANONYMOUSLY] }
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
        #- { path: ^/_internal, roles: IS_AUTHENTICATED_ANONYMOUSLY, ip: 127.0.0.1 }

