{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

feeds
  <!-- <form action="{#{{ path('refresh') }}#}" method="post" {#{{ form_enctype(form) }}#}>
       <p>
           <button type="submit">Create</button>
       </p>
   </form>-->
{% endblock %}