{% extends "ECENetagoraBundle::layout.html.twig" %}

{% block title -%}
    {{ parent() }} - Password changed
{%- endblock %}

{% block content %}

    <form id="password_retrieval" action="" method="post">
        <fieldset>
            <legend class="subtitle">Password changed</legend>
            <p>
                Your password has been successfully changed.
            <p>
        </fieldset>
    </form>

{% endblock %}