{% extends "ECENetagoraBundle::layout.html.twig" %}

{% block title -%}
    {{ parent() }} - Request a new password
{%- endblock %}

{% block content %}

    <form id="password_retrieval" action="" method="post">
        <fieldset>
            <legend class="subtitle">Request a new password</legend>
            <p>
                An email has been sent to your email address. It contains a link to change your password in the next 24 hours.
            <p>
        </fieldset>
    </form>

{% endblock %}