#user_username{
    margin-left: 102px;
}
#user_email{
    margin-left: 127px;
}
#user_password{
    margin-left: 104px;
}
#user_file{
    margin-left: 56px;
}
#user_location{
    margin-left: 111px;
}
#user_firstName{
    margin-left: 105px;
}
#user_lastName{
    margin-left: 105px;
}
#user_birthdate{
    margin-left: 109px;
    float: left;
}
#birthdate_label{
    float:left;
}