{% extends "ECENetagoraBundle::menu_notlogged.html.twig" %}

{% block content %}
    {{debug}}
    {{error}}
    <form id="password_retrieval" action="{{ path('forgot') }}" method="post">
    	<fieldset>
    		<legend class="subtitle">Password retrieval</legend>
    		<ol>
    			<li>
    				<label for=mail>E-mail</label>
    				<input id=mail name=mail type=text placeholder="Enter your mail address" required autofocus>
    			</li>
			</ol>

    		<button type=submit>Send me the password</button>
    	</fieldset>
    </form>
        
{% endblock %}